.container {
  font-family: Arial, sans-serif; /* Sets the font for better text readability */
  margin: 20px; /* Adds space around the container */
  margin-left: 400px;
  margin-right: 400px;
  background-color: #f9f9f9; /* Light grey background for the container */
  border-radius: 8px; /* Rounded corners for the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for 3D effect */
  text-align: center; /* Centers the text within the container */

  display: flex;
  flex-direction: column; /* Stacks children vertically */
  justify-content: center;
  align-items: center;
  text-align: center; /* Centers the text of all child elements */
  height: 95vh; /* Adjust height as necessary */
}

h1 {
  font-size: 40px; /* Larger text for the heading */
  color: #000000; /* Dark grey color for the text */
  margin-bottom: 15px; /* Space below the heading */
}

div {
  font-size: 30px; /* Larger text for the content */
  color: #000000; /* Medium grey color for the text */
  margin: 10px 0; /* Vertical spacing around each div element */
}
